<p><%= t('authentication.mentor.mailer.reset_password.hello') %>, <%= @resource.email %>!</p>

<p><%= t('authentication.mentor.mailer.reset_password.message') %></p>

<p><%= link_to <%= t('authentication.mentor.mailer.reset_password.action') %>, edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('authentication.mentor.mailer.reset_password.did_not_request') %></p>
<p><%= t('authentication.mentor.mailer.reset_password.no_link_no_change') %></p>
