<p><%= t('authentication.mentor.mailer.unlock.hello') %>, <%= @resource.email %>!</p>

<p><%= t('authentication.mentor.mailer.unlock.message') %></p>

<p><%= t('authentication.mentor.mailer.unlock.link') %>:</p>

<p><%= link_to <%= t('authentication.mentor.mailer.unlock.action') %>, unlock_url(@resource, unlock_token: @token) %></p>
