<div class="container" style="padding-top: 7%;">
    <h1>Mentors</h1>
    <%= link_to "All Mentors", action: "approvals" %>
    <span> | </span>
    <%= link_to "Mentors waiting approval", action: "approvals", approved: false %>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td>City</td>
                    <td>Description</td>
                    <td>Organization</td>
                    <td>Approved</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <% @mentors.each do |mentor| %>
                    <tr class="<%= mentor.approved ? 'success' : 'info' %>">
                        <td><%= mentor.name %></td>
                        <td><%= mentor.email %></td>
                        <td><%= mentor.city %></td>
                        <td><%= mentor.description %></td>
                        <td><%= mentor.organization %></td>
                        <td><%= mentor.approved %></td>
                        <td><%= link_to "Edit", edit_admin_mentor_path(mentor) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
