<div class="container" style="padding-top: 7%;">
    <h1><%= t('home.approvals.mentors') %></h1>
    <%= link_to t('home.approvals.all_mentors'), action: "approvals" %>
    <span> | </span>
    <%= link_to t('home.approvals.pending_mentors'), action: "approvals", approved: false %>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><%= t('home.approvals.table.name') %></td>
                    <td><%= t('home.approvals.table.email') %></td>
                    <td><%= t('home.approvals.table.city') %></td>
                    <td><%= t('home.approvals.table.description') %></td>
                    <td><%= t('home.approvals.table.organization') %></td>
                    <td><%= t('home.approvals.table.approved') %></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <% @mentors.each do |mentor| %>
                    <tr class="<%= mentor.approved ? 'success' : 'info' %>">
                        <td><%= mentor.name %></td>
                        <td><%= mentor.email %></td>
                        <td><%= mentor.city %></td>
                        <td><%= mentor.description %></td>
                        <td><%= mentor.organization %></td>
                        <td><%= mentor.approved %></td>
                        <td><%= link_to t('home.approvals.table.edit'), edit_admin_mentor_path(mentor) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
