<div class="container" style="padding-top: 7%;">
    <h2>Teams
        <p class="lead">This is the list of all teams</p>
        <hr><br>
        <div class="agenda">
            <div class="table-responsive">
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th class='small-th'>Team</th>
                            <th class='small-th'>Project</th>
                            <th class='small-th'>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @teams.each do |t| %>
                            <tr class='smaller-td'>
                                <td class="agenda-time">
                                    <%= t.name %>
                                </td>
                                <td class="agenda-events">
                                    <% if t.projects.first %>
                                        <div class="agenda-event">
                                            <h1><%= t.projects.first.name %></h1>
                                            <br>
                                            <%= markdown(t.projects.first.description) %>
                                        </div>
                                    <% else %>
                                        <span> - </span>
                                    <% end %>
                                </td>
                                <td>
                                    <% if t.projects.first %>
                                    <a href="<%= t.projects.first.link %>">
                                        <%= t.projects.first.link %>
                                    </a>
                                    <% else %>
                                        <span> - </span>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </h2>
</div>
