<div class="row">
    <h3 class="text-center">You've signed up successfully. We'll contact you soon!</h3>
    <div class="well">
        <h4>Here's your profile data:</h4>
        <div class="row">
            <div class="mentor-info-block">
                <div>
                    Name: <%= mentor.name %>
                </div>
                <div>
                    Email: <%= mentor.email %>
                </div>
                <div>
                    City: <%= mentor.city %>
                </div>
                <div>
                    Organization: <%= mentor.organization %>
                </div>
                <div>
                    About me: <%= mentor.description %>
                </div>
            </div>
            <div class="mentor-avatar-block">
                <%= image_tag mentor.avatar.url, class: 'img-responsive img-thumbnail mentor-avatar-img' %>
            </div>
        </div>
    </div>
</div>
